@import "src/styles/variables";

.containerLogo {
  height: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: $greenSecondary;
  color: $altBlack;
  border-radius: 5px !important;
  gap: 10px;

  @media (max-width: 768px) {
    margin-top: 5px;
  }
  @media (max-width: 320px) {
    h3 {
      font-size: 14px;
    }
  }
  box-shadow: 0 0 10px 0 $hoverAltBlack;
  transition: 0.8s ease-in;

  &:hover {
    cursor: pointer;
    transition: 0.2s ease-out;
    color: $hoverAltBlack;
  }
  &:active{
    transition: 0s ease-out;
    box-shadow: 0 0 5px 0 $greenTertiary;
  }
}


