@import "src/styles/variables";

.layout {
  height: 100vh;
}

.headerContainer {
  display: flex;
  align-items: center;
  background-color: $greenPrimary !important;

  h3 {
    color: $greenPrimary;
  }

  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    height: 150px !important;
  }
}

.footerContainer {
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greenPrimary !important;
}

